modules = ["cpp-clang14"]

# Always use the Makefile
compile = "make"
run = "make run-select"

[nix]
channel = "stable-24_05"

[deployment]
build = ["sh", "-c", "make"]
run   = ["sh", "-c", "make run-select"]

[workflows]
runButton = "Run Select"

# Build everything and run what you want via make targets
[[workflows.workflow]]
name = "Build All"
author = 18972025
mode = "sequential"
  [[workflows.workflow.tasks]]
  task = "shell.exec"
  args = "make"

[[workflows.workflow]]
name = "Run Table"
author = 18972025
mode = "sequential"
  [[workflows.workflow.tasks]]
  task = "shell.exec"
  args = "make run-table"

[[workflows.workflow]]
name = "Run Join"
author = 18972025
mode = "sequential"
  [[workflows.workflow.tasks]]
  task = "shell.exec"
  args = "make run-join"

[[workflows.workflow]]
name = "Run Select"
author = 18972025
mode = "sequential"
  [[workflows.workflow.tasks]]
  task = "shell.exec"
  args = "make run-select"
